DATABASE_URL="db_url_here"
CLOUDFLARE_DOMAIN="cloudflare_domain_here"

BETTER_AUTH_SECRET="better_auth_secret_here"

BETTER_AUTH_URL="better_auth_url_here"

NEXT_PUBLIC_APP_URL="next_public_app_url_here"